DATABASE_URL="file:./prisma/dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-random-secret-min-32-chars-long"
ADMIN_EMAIL="admin@zhaslock.kz"
ADMIN_PASSWORD="admin12345"
GOOGLE_MAPS_API_KEY=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP_NUMBER="77016050667"
NEXT_PUBLIC_PHONE_NUMBER="+7 (701) 605-06-67"
NEXT_PUBLIC_TELEGRAM_USERNAME="zhaslock"
NEXT_PUBLIC_INSTAGRAM_USERNAME="lockstore_astana"
NEXT_PUBLIC_INSTAGRAM_URL="https://www.instagram.com/lockstore_astana"
NEXT_PUBLIC_TIKTOK_URL="https://www.tiktok.com/@lock_store__"
BLOB_READ_WRITE_TOKEN=""
